#buttonstart{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

#buttonstop{
    background-color:red; /* Green */
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
#output1{
    color: white;
    font-size: 50px;
    text-align: center;
}
body{
    background-color: purple;}